<%-include('partials/header.ejs')  %>

<body>
  <div class="container">
    <h1>Welcome To Our Programming Comunity Blog!</h1>
   
    <ul id="listPost">
      <% Object.values(posts).forEach(post=> { %>
        <li>
          <h2>
            <%=post.title%>
          </h2>
          <small><%=post.date %> By <%=post.author%> </small>
          <p>
            <%=post.content%>
          </p>
        </li>
        <% }); %>
    </ul>
  </div>
</body>

<%-include('partials/footer.ejs')  %>
